<div class="container">
  <h2>Users</h2>
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Team</th>
        <th>Name</th>
        <th>Self</th>
        <th>Submitted</th>
        <th>Required</th>
        <th>Summary</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr class=<%= user_row_class(user)%> >
          <td><span class="<%= user_row_icon(user) %>"</span></td>
          <td><%= link_to user.name, user_path(user) %>
          <td><%= user.team_name %></td>
          <td><%= user.self_assessment? %></td>
          <td><%= user.valid_assessments_count %></td>
          <td><%= user.required_assessments_count %></td>
          <td><%= user.stats %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>