<h1>Listing deletemes</h1>

<table>
  <thead>
    <tr>
      <th>A</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @deletemes.each do |deleteme| %>
      <tr>
        <td><%= deleteme.a %></td>
        <td><%= link_to 'Show', deleteme %></td>
        <td><%= link_to 'Edit', edit_deleteme_path(deleteme) %></td>
        <td><%= link_to 'Destroy', deleteme, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Deleteme', new_deleteme_path %>
